<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-3">
				<div class="footer__copyright">
					© REZINAVSEM.RU 2019<br>
					Все права защищены
				</div>
			</div>

			<div class="col-3">
				<div class="footer__head">Моя учетная запись</div>

				<nav class="footer-menu">
					<ul class="footer-menu__list">
						<li class="footer-menu__item"><a href="#">Моя учетная запись</a></li>
						<li class="footer-menu__item"><a href="#">История заказов</a></li>
						<li class="footer-menu__item"><a href="#">Закладки</a></li>
						<li class="footer-menu__item"><a href="#">Подарочные сертификаты</a></li>
						<li class="footer-menu__item"><a href="#">Партнеры</a></li>
						<li class="footer-menu__item"><a href="#">Карта сайта</a></li>
					</ul>
				</nav>
			</div>


			<div class="col-3">
				<div class="footer__head">Информация</div>

				<nav class="footer-menu">
					<ul class="footer-menu__list">
						<li class="footer-menu__item"><a href="#">Контакты и реквизиты</a></li>
						<li class="footer-menu__item"><a href="#">Политика возврата товара и денег</a></li>
						<li class="footer-menu__item"><a href="#">O магазине</a></li>
						<li class="footer-menu__item"><a href="#">Информация о доставке</a></li>
						<li class="footer-menu__item"><a href="#">Акция: 500 рублей скидка!</a></li>
						<li class="footer-menu__item"><a href="#">Обратная связь</a></li>
						<li class="footer-menu__item"><a href="#">Возврат</a></li>
					</ul>
				</nav>
			</div>

			<div class="col-3">
				<div class="footer__head">Контакты</div>

				//= ../partial/info-contacts.html

				//= ../partial/work-time.html

				//= ../partial/address.html
			</div>
		</div>
	</div>

	<div class="move-up js-move-up"></div>
</footer>