/*-------------- order -----------------*/
.order{
	margin-top: 30px;
}

.order-card{
	background: #fff;
	border-radius: 4px;
	padding: 27px 30px;
	margin-bottom: 30px;

	&__head{
		@include font(normal, bold, 22px, 1.2, #000);
		padding-bottom: 12px;
		border-bottom: 1px solid #ebebeb;
		margin-bottom: 12px;
	}

	&__text{
		@include font(normal, normal, 14px, 1.5, #000);
		margin-bottom: 23px;
	}

	&__param{
		display: flex;
		justify-content: space-between;
	}

	&__param:not(:last-child){
		margin-bottom: 20px;
	}

	&__price{
		max-width: 100px;
		@include font(normal, bold, 16px, 1.2, #000);
		padding-left: 10px;
	}

	// &__param .input-check{
	// 	max-width: calc(100% - 100px);
	// }

	.form-site{
		margin-top: 30px;
	}
}

@media (max-width: 767px) {
	.order-card{
		padding: 27px 24px;

		&__head{margin-bottom: 24px;}
		&__text{margin-bottom: 18px;}
	}
}