/*-------------- rating -----------------*/
.rating-wrap{
	display: flex;
	align-items: center;

	&__text{
		@include font(normal, normal, 14px, 1.2, #999);
		margin-left: 15px;
	}
}

.rating{
	display: inline-block;
	vertical-align: middle;
	width: 95px;
	height: 14px;
	background: url(#{$path-img}/stars.png) repeat-x 0 0;
	position: relative;

	&__content{
		display: inline-block;
		vertical-align: middle;
		width: 0;
		height: 100%;
		background: url(#{$path-img}/stars.png) repeat-x 0 -20px;
		position: absolute;
		top: 0;
		left: 0;
	}
}

@media (max-width: 767px) {
	.rating-wrap{
		display: block;

		&__text{
			margin-left: 0;
			margin-top: 10px;
		}
	}
}