//Path
$path-img: "../img";
$path-fonts: "../fonts";

//Font
$font-site: 'Avenir Next Cyr', Arial, sans-serif;

// Site
$color-text: #424242;
$color-orange: #ff9a24;
$color-red: #eb2121;
$color-grey: #c0c3cc;
$color-dark-blue: #2c2f38;
$color-blue: #404552;
$color-light-blue: #545b6b;