<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Карточка товара</title>
	//= ../header/header-link.html
	</head>
	<body class="js-body">
		<div class="wrapper">
			//= ../header/header-no-active.html
			<main>
				<section class="breadcrumb">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<ul class="breadcrumb__list">
									<li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Главная страница</a></li>
									<li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Купить шины</a></li>
									<li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Летние шины</a></li>
									<li class="breadcrumb__item">Continental ContiSportContact 5P 255/35 R19 96Y RunFlat</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<div class="catalog-detail">
					<section class="catalog-card bg-white">
						<div class="container">
							<div class="row">
								<div class="col-7">
									<div class="product-slider">
										<div class="product-slide-thumb js-product-slide-thumb d-none d-md-block">
											<div class="product-slide-thumb__item" style="background-image: url(img/product-slider-img1.jpg);"></div>
											<div class="product-slide-thumb__item" style="background-image: url(img/product-slider-img2.jpg);"></div>
											<div class="product-slide-thumb__item" style="background-image: url(img/product-slider-img3.jpg);"></div>
											<div class="product-slide-thumb__item" style="background-image: url(img/product-slider-img4.jpg);"></div>
											<div class="product-slide-thumb__item" style="background-image: url(img/product-slider-img5.jpg);"></div>
										</div>

										<div class="product-slide-img js-product-slide-img">
											<div class="product-slide-img__item" style="background-image: url(img/product-slider-img1.jpg);">
												<div class="product-slide-img__sale"></div>
											</div>
											<div class="product-slide-img__item" style="background-image: url(img/product-slider-img2.jpg);"></div>
											<div class="product-slide-img__item" style="background-image: url(img/product-slider-img3.jpg);"></div>
											<div class="product-slide-img__item" style="background-image: url(img/product-slider-img4.jpg);">
												<div class="product-slide-img__sale"></div>
											</div>
											<div class="product-slide-img__item" style="background-image: url(img/product-slider-img5.jpg);"></div>
										</div>
									</div><!-- end product-slider -->
								</div>

								<div class="col-5">
									<div class="catalog-card__info">
										<div class="catalog-card__name">Continental ContiSportContact 5P 255/35 R19 96Y RunFlat</div>

										<div class="catalog-card__rating">
											<div class="rating-wrap">
												<div class="rating"><span class="rating__content" style="width: 80%;"></span></div>
												<div class="rating-wrap__text">(0)&nbsp;отзывов / Оставить отзыв</div>
											</div>
										</div>

										<div class="param">
											<div class="param__item">
												<div class="param__title">Производитель:</div>
												<div class="param__val">Continental</div>
											</div>

											<div class="param__item">
												<div class="param__title">Модель:</div>
												<div class="param__val">ContiSportContact 5P</div>
											</div>

											<div class="param__item">
												<div class="param__title">Наличие:</div>
												<div class="param__val">16</div>
											</div>

											<div class="param__item">
												<div class="param__title">Типоразмер:</div>
												<div class="param__val">255/35 R19</div>
											</div>
										</div>

										<div class="catalog-card-type">
											<div class="catalog-card-type__icon"><img src="img/snow.png" alt=""></div>
											<div class="catalog-card-type__text">Зимние, нешипованные</div>
										</div>

										<div class="catalog-card-count">
											<div class="catalog-card-count__num">
												<div class="catalog-card-count__label">Количество</div>

												<div class="counter js-counter">
													<div class="counter__min js-counter-min"></div>
													<input class="counter__input js-counter-input" type="number" value="1" />
													<div class="counter__max js-counter-max"></div>
												</div>
											</div>

											<div class="catalog-card-count__note">Только четное количество</div>
										</div>

										<div class="catalog-card-price">
											<div class="catalog-card-price__num"><span class="catalog-card-price__old">6 660 руб.</span>6 850 руб.</div>

											<div class="catalog-card-price__note">Цена действительна при оплате наличными</div>
										</div>

										<div class="catalog-card__btn">
											<a href="#" class="btn btn_border btn_big">Купить</a>

											<ul class="catalog-card-menu">
												<li class="catalog-card-menu__item"><a href="#">Доставка</a></li>
												<li class="catalog-card-menu__item"><a href="#">Оплата</a></li>
												<li class="catalog-card-menu__item"><a href="#">Гарантии</a></li>
											</ul>
										</div>

										<div class="catalog-card-link">
											<a href="#" class="catalog-card-link__item">
												<div class="catalog-card-link__icon catalog-card-link__icon_compare"></div>
												<div class="catalog-card-link__text">Сравнить</div>
											</diav>

											<a href="#" class="catalog-card-link__item">
												<div class="catalog-card-link__icon catalog-card-link__icon_wish"></div>
												<div class="catalog-card-link__text">В избранное</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>

					<section class="catalog-tabs">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="tabs-page js-tabs-page">
										<ul class="tabs-page__list js-tabs-page-list">
											<li class="tabs-page__item js-tabs-page-item" data-item="tab-param">Характеристики</li>
											<li class="tabs-page__item js-tabs-page-item" data-item="tab-riview">Отзывы</li>
										</ul>

										<div class="tabs-page__content js-tabs-page-content">
											<div id="tab-param" class="tabs-page__content-item js-tabs-page-content-item js-tabs-page-content-item">
												<div class="param">
													<div class="param__item">
														<div class="param__title">Рисунок проектора:</div>
														<div class="param__val">асимметричный</div>
													</div>
													
													<div class="param__item">
														<div class="param__title">Сезонность:</div>
														<div class="param__val">летние</div>
													</div>

													<div class="param__item">
														<div class="param__title">Технология RunFlat:</div>
														<div class="param__val">есть</div>
													</div>
													
													<div class="param__item">
														<div class="param__title">Высота профиля:</div>
														<div class="param__val">35</div>
													</div>

													<div class="param__item">
														<div class="param__title">Индекс нагрузки:</div>
														<div class="param__val">96 (710 кг)</div>
													</div>
													
													<div class="param__item">
														<div class="param__title">Диаметр:</div>
														<div class="param__val">19</div>
													</div>

													<div class="param__item">
														<div class="param__title">Индекс скорости:</div>
														<div class="param__val">Y (до 300 км/ч)</div>
													</div>

													<div class="param__item">
														<div class="param__title">Ширина профиля:</div>
														<div class="param__val">255</div>
													</div>

													<div class="param__item">
														<div class="param__title">Назначение:</div>
														<div class="param__val">для легкового автомобиля</div>
													</div>
												</div>
											</div>
											<div id="tab-riview" class="tabs-page__content-item js-tabs-page-content-item js-tabs-page-content-item">
												Отзывы
											</div>
										</div>
									</div><!-- end tabs-page -->
								</div>
							</div>
						</div>
					</section>

					<section class="catalog-previous">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="h1 h1_center">Ранее вы смотрели</div>

									<div class="catalog-list js-catalog-list">
										//= ../partial/product-item-sale.html
										//= ../partial/product-item-sale.html
										//= ../partial/product-item-sale.html
										//= ../partial/product-item-sale.html
									</div>
								</div>
							</div>
						</div>
					</section>

					<section class="catalog-other">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="h1 h1_center">Похожие модели</div>
									
									<div class="catalog-list js-catalog-list">
										//= ../partial/product-item-sale.html
										//= ../partial/product-item-sale.html
										//= ../partial/product-item-sale.html
										//= ../partial/product-item-sale.html
									</div>
								</div>
							</div>
						</div>
					</section>
				</div><!-- end catalog-detail -->
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
