<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Главная страница</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="popular-size-wrap">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="h1 h1_center">Популярные размеры шин</div>

								<div class="popular-size">
									<div class="popular-size__param">
										<div class="popular-size__head">R13</div>

										<div class="popular-size__list">
											<a href="#" class="popular-size__item">155/65</a>
											<a href="#" class="popular-size__item">155/70</a>
											<a href="#" class="popular-size__item">155/80</a>
											<a href="#" class="popular-size__item">165/65</a>
											<a href="#" class="popular-size__item">165/70</a>
											<a href="#" class="popular-size__item">175/70</a>
										</div>
									</div>

									<div class="popular-size__param">
										<div class="popular-size__head">R14</div>

										<div class="popular-size__list">
											<a href="#" class="popular-size__item">155/65</a>
											<a href="#" class="popular-size__item">155/70</a>
											<a href="#" class="popular-size__item">155/80</a>
											<a href="#" class="popular-size__item">165/65</a>
											<a href="#" class="popular-size__item">165/70</a>
											<a href="#" class="popular-size__item">175/70</a>
											<a href="#" class="popular-size__item">155/65</a>
											<a href="#" class="popular-size__item">155/70</a>
											<a href="#" class="popular-size__item">155/80</a>
											<a href="#" class="popular-size__item">165/65</a>
											<a href="#" class="popular-size__item">165/70</a>
											<a href="#" class="popular-size__item">175/70</a>
										</div>
									</div>

									<div class="popular-size__param">
										<div class="popular-size__head">R15</div>

										<div class="popular-size__list">
											<a href="#" class="popular-size__item">155/65</a>
											<a href="#" class="popular-size__item">155/70</a>
											<a href="#" class="popular-size__item">155/80</a>
											<a href="#" class="popular-size__item">165/65</a>
											<a href="#" class="popular-size__item">165/70</a>
											<a href="#" class="popular-size__item">175/70</a>
											<a href="#" class="popular-size__item">155/65</a>
											<a href="#" class="popular-size__item">155/70</a>
											<a href="#" class="popular-size__item">155/80</a>
											<a href="#" class="popular-size__item">165/65</a>
											<a href="#" class="popular-size__item">165/70</a>
											<a href="#" class="popular-size__item">175/70</a>
											<a href="#" class="popular-size__item">155/65</a>
											<a href="#" class="popular-size__item">155/70</a>
											<a href="#" class="popular-size__item">155/80</a>
											<a href="#" class="popular-size__item">165/65</a>
											<a href="#" class="popular-size__item">165/70</a>
											<a href="#" class="popular-size__item">175/70</a>
										</div>
									</div>

									<div class="popular-size__param">
										<div class="popular-size__head">R16</div>

										<div class="popular-size__list">
											<a href="#" class="popular-size__item">155/65</a>
											<a href="#" class="popular-size__item">155/70</a>
											<a href="#" class="popular-size__item">155/80</a>
											<a href="#" class="popular-size__item">165/65</a>
											<a href="#" class="popular-size__item active">165/70</a>
											<a href="#" class="popular-size__item">175/70</a>
											<a href="#" class="popular-size__item">155/65</a>
											<a href="#" class="popular-size__item">155/70</a>
											<a href="#" class="popular-size__item">155/80</a>
											<a href="#" class="popular-size__item">165/65</a>
											<a href="#" class="popular-size__item">165/70</a>
											<a href="#" class="popular-size__item">175/70</a>
											<a href="#" class="popular-size__item">155/65</a>
											<a href="#" class="popular-size__item">155/70</a>
											<a href="#" class="popular-size__item">155/80</a>
										</div>
									</div>

									<div class="popular-size__param">
										<div class="popular-size__head">R17</div>

										<div class="popular-size__list">
											<a href="#" class="popular-size__item">155/65</a>
											<a href="#" class="popular-size__item">155/70</a>
											<a href="#" class="popular-size__item">155/80</a>
											<a href="#" class="popular-size__item">165/65</a>
											<a href="#" class="popular-size__item">165/70</a>
											<a href="#" class="popular-size__item">175/70</a>
											<a href="#" class="popular-size__item">155/65</a>
											<a href="#" class="popular-size__item">155/70</a>
											<a href="#" class="popular-size__item">155/80</a>
											<a href="#" class="popular-size__item">165/65</a>
											<a href="#" class="popular-size__item">165/70</a>
											<a href="#" class="popular-size__item">175/70</a>
											<a href="#" class="popular-size__item">155/65</a>
											<a href="#" class="popular-size__item">155/70</a>
											<a href="#" class="popular-size__item">155/80</a>
											<a href="#" class="popular-size__item">165/65</a>
											<a href="#" class="popular-size__item">165/70</a>
											<a href="#" class="popular-size__item">175/70</a>
											<a href="#" class="popular-size__item">155/65</a>
											<a href="#" class="popular-size__item">155/70</a>
											<a href="#" class="popular-size__item">155/80</a>
											<a href="#" class="popular-size__item">165/65</a>
											<a href="#" class="popular-size__item">165/70</a>
											<a href="#" class="popular-size__item">175/70</a>
										</div>
									</div>

									<div class="popular-size__param">
										<div class="popular-size__head">R18</div>

										<div class="popular-size__list">
											<a href="#" class="popular-size__item">155/65</a>
											<a href="#" class="popular-size__item">155/70</a>
											<a href="#" class="popular-size__item">155/80</a>
											<a href="#" class="popular-size__item">165/65</a>
											<a href="#" class="popular-size__item">165/70</a>
											<a href="#" class="popular-size__item">175/70</a>
											<a href="#" class="popular-size__item">155/65</a>
											<a href="#" class="popular-size__item">155/70</a>
											<a href="#" class="popular-size__item">155/80</a>
											<a href="#" class="popular-size__item">165/65</a>
											<a href="#" class="popular-size__item">165/70</a>
											<a href="#" class="popular-size__item">175/70</a>
											<a href="#" class="popular-size__item">155/65</a>
											<a href="#" class="popular-size__item">155/70</a>
											<a href="#" class="popular-size__item">155/80</a>
											<a href="#" class="popular-size__item">165/65</a>
											<a href="#" class="popular-size__item">165/70</a>
											<a href="#" class="popular-size__item">175/70</a>
										</div>
									</div>

									<div class="popular-size__param">
										<div class="popular-size__head">R19</div>

										<div class="popular-size__list">
											<a href="#" class="popular-size__item">155/65</a>
											<a href="#" class="popular-size__item">155/70</a>
											<a href="#" class="popular-size__item">155/80</a>
											<a href="#" class="popular-size__item">165/65</a>
											<a href="#" class="popular-size__item">165/70</a>
											<a href="#" class="popular-size__item">175/70</a>
											<a href="#" class="popular-size__item">155/65</a>
											<a href="#" class="popular-size__item">155/70</a>
											<a href="#" class="popular-size__item">155/80</a>
											<a href="#" class="popular-size__item">165/65</a>
											<a href="#" class="popular-size__item">165/70</a>
											<a href="#" class="popular-size__item">175/70</a>
										</div>
									</div>

									<div class="popular-size__param">
										<div class="popular-size__head">R20</div>

										<div class="popular-size__list">
											<a href="#" class="popular-size__item">155/65</a>
											<a href="#" class="popular-size__item">155/70</a>
											<a href="#" class="popular-size__item">155/80</a>
											<a href="#" class="popular-size__item">165/65</a>
											<a href="#" class="popular-size__item">165/70</a>
											<a href="#" class="popular-size__item">175/70</a>
											<a href="#" class="popular-size__item">155/65</a>
											<a href="#" class="popular-size__item">155/70</a>
											<a href="#" class="popular-size__item">155/80</a>
											<a href="#" class="popular-size__item">165/65</a>
											<a href="#" class="popular-size__item">165/70</a>
											<a href="#" class="popular-size__item">175/70</a>
											<a href="#" class="popular-size__item">155/65</a>
											<a href="#" class="popular-size__item">155/70</a>
											<a href="#" class="popular-size__item">155/80</a>
											<a href="#" class="popular-size__item">165/65</a>
											<a href="#" class="popular-size__item">165/70</a>
											<a href="#" class="popular-size__item">175/70</a>
											<a href="#" class="popular-size__item">155/65</a>
											<a href="#" class="popular-size__item">155/70</a>
											<a href="#" class="popular-size__item">155/80</a>
										</div>
									</div>

									<div class="popular-size__param">
										<div class="popular-size__head">R21</div>

										<div class="popular-size__list">
											<a href="#" class="popular-size__item">155/65</a>
											<a href="#" class="popular-size__item">155/70</a>
											<a href="#" class="popular-size__item">155/80</a>
											<a href="#" class="popular-size__item">165/65</a>
											<a href="#" class="popular-size__item">165/70</a>
											<a href="#" class="popular-size__item">175/70</a>
											<a href="#" class="popular-size__item">155/65</a>
											<a href="#" class="popular-size__item">155/70</a>
											<a href="#" class="popular-size__item">155/80</a>
											<a href="#" class="popular-size__item">165/65</a>
											<a href="#" class="popular-size__item">165/70</a>
											<a href="#" class="popular-size__item">175/70</a>
										</div>
									</div>

									<div class="popular-size__param">
										<div class="popular-size__head">R22</div>

										<div class="popular-size__list">
											<a href="#" class="popular-size__item">155/65</a>
											<a href="#" class="popular-size__item">155/70</a>
											<a href="#" class="popular-size__item">155/80</a>
											<a href="#" class="popular-size__item">165/65</a>
											<a href="#" class="popular-size__item">165/70</a>
											<a href="#" class="popular-size__item">175/70</a>
											<a href="#" class="popular-size__item">155/65</a>
											<a href="#" class="popular-size__item">155/70</a>
											<a href="#" class="popular-size__item">155/80</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!-- end popular-size-wrap -->

				<div class="slider-post-wrap">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="slider-post js-slider-post">
									<div class="slider-post__item" style="background-image: url(img/bg-slider-post.jpg);">
										<div class="slider-post__content">
											<div class="slider-post__title">Надежные колеса — залог <span class="slider-post__main">безопасности</span></div>
										</div>
									</div>

									<div class="slider-post__item" style="background-image: url(img/bg-slider-post.jpg);">
										<div class="slider-post__content">
											<div class="slider-post__title">Надежные колеса — залог <span class="slider-post__main">безопасности</span> 2</div>
										</div>
									</div>

									<div class="slider-post__item" style="background-image: url(img/bg-slider-post.jpg);">
										<div class="slider-post__content">
											<div class="slider-post__title">Надежные колеса — залог <span class="slider-post__main">безопасности</span> 3</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
