<div class="header-top">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="header-top__content">
					<nav class="top-menu">
						<ul class="top-menu__list">
							<li class="top-menu__item"><a href="#">Шины</a></li>
							<li class="top-menu__item"><a href="#">Диски</a></li>
							<li class="top-menu__item"><a href="#">Акции</a></li>
							<li class="top-menu__item"><a href="#">Доставка</a></li>
							<li class="top-menu__item"><a href="#">Блог</a></li>
							<li class="top-menu__item"><a href="#">Возврат</a></li>
							<li class="top-menu__item"><a href="#">Гарантии</a></li>
							<li class="top-menu__item"><a href="#">Оплата</a></li>
							<li class="top-menu__item"><a href="#">Контакты</a></li>
						</ul>
					</nav>

					<div class="header-top-btn">
						<a href="#" class="header-top-btn__item">
							<span class="header-top-btn__icon header-top-btn__icon_wish"></span>
						</a>

						<div class="header-top-btn__item">
							<div class="small-basket">
								<div class="small-basket__icon"><span class="small-basket__num">2</span></div>

								<div class="small-basket__content">
									<div class="small-basket__list">
										<a href="#" class="small-basket__item">
											<div class="small-basket__img" style="background-image: url(img/product_basket.png);"></div>
											<div class="small-basket__info">
												<div class="small-basket__name">Continental SportContact 6</div>
												<div class="small-basket__article">235/35 R19 91Y</div>
											</div>
											
											<div class="small-basket__val">
												<div class="small-basket__count">x2</div>
												<div class="small-basket__price">6 850 р.</div>
											</div>
										</a>

										<a href="#" class="small-basket__item">
											<div class="small-basket__img" style="background-image: url(img/product_basket.png);"></div>
											<div class="small-basket__info">
												<div class="small-basket__name">Continental SportContact 6</div>
												<div class="small-basket__article">235/35 R19 91Y</div>
											</div>
											
											<div class="small-basket__val">
												<div class="small-basket__count">x2</div>
												<div class="small-basket__price">6 850 р.</div>
											</div>
										</a>
									</div>

									<div class="small-basket__result">
										<div class="small-basket__sum">Итого: 7100 руб.</div>
										<a href="#" class="btn btn_border">Оформить заказ</a>
									</div>
								</div>
							</div>
						</div>

						<a href="#" class="header-top-btn__item">
							<span class="header-top-btn__icon header-top-btn__icon_profile"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- end header-top -->