<div class="info-contact">
	<div class="info-contact__item">
		<div class="info-contact__icon">
			<img src="img/ic-phone.png" alt="">
		</div>
		<div class="info-contact__text">
			<a href="tel:+78123172216">+7 (812) 317 22 16</a>
		</div>
	</div>

	<div class="info-contact__item">
		<div class="info-contact__icon">
			<div class="info-msg">
				<div class="info-msg__item info-msg__item_wu"></div>
				<div class="info-msg__item info-msg__item_vb"></div>
			</div>
		</div>
		<div class="info-contact__text">
			<a href="tel:+79119437788">+7 (911) 943 77 88</a>
		</div>
	</div>
</div>