<div class="catalog-list__item">
	<div class="catalog-list__content">
		<div class="catalog-list__img-wrap">
			<a href="#" class="catalog-list__img" style="background-image: url(img/product-item.jpg);"></a>
			<a href="#" class="catalog-list__wish"></a>
		</div>

		<div class="catalog-list__info">
			<div class="catalog-list__name"><a href="#">Nokian Tyres Hakkapeliitta 9 205/60 R16 96T</a></div>

			<div class="catalog-list__price">6 850 руб.</div>

			<a href="#" class="btn btn_border">Купить</a>

			<div class="catalog-list__compare"><a href="#" class="catalog-list__compare-link">Сравнить</a></div>
		</div>
	</div>
</div>